body { background-image: url("paper.jpg");
  background-color: lightblue;
}


/* for tag */
h1 { color: red; }

/* for id */
#intro { color: blue; }

/* for class */
.content { color: green; }

.inputclass { width: 200px; height: 50px; background-color: powderblue; }
